.storiesHeader {
    display: flex;
    gap: 20px;
}

.buttonToEducation {
    padding: 10px 50px;
    color: white;
    background-color: #1e1e1e;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    text-decoration: none;
}

.buttonToAdd {
    padding: 10px 50px;
    color: white;
    background-color: #14AE5C;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}

.buttonToEducation:hover, 
.buttonToAdd:hover {
    cursor: pointer;
    opacity: 0.8;
}