.article {
  width: 50%;
  max-width: 800px;
  margin: 30px auto 250px;
  line-height: 1.6;
}

.article h2,
.article h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.article h4 {
  margin-bottom: 5px;
}

.article p {
  margin-bottom: 10px;
}

.center { text-align: center; }
.mt20 { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }
