* text=auto

front/**/*.js   text eol=lf
front/**/*.jsx  text eol=lf
front/**/*.json text eol=lf
front/**/*.html text eol=lf
front/**/*.css  text eol=lf
front/**/*.md   text eol=lf

front/package-lock.json text eol=lf

*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.svg  text
