.profileButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #AFF4C6;
    border: none;
    font-size: 22px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileButton:hover {
    opacity: 0.8;
    cursor: pointer;
}