.layout {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
  }
  
  .layoutLinks {
    display: flex;
    gap: 3rem;
    font-size: 18px;
  }
  
  .layoutLinks a {
    color: #f1efef;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .layoutLinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2.5px;
    background-color: transparent;
    transition: background-color 0.2s ease;
  }
  
  .layoutLinks a.active {
    color:  #03a9f4; 
    text-shadow: 0 0 2px rgba(0, 173, 239, 0.6);
  }
  
  .layoutLinks a.active::after {
    background-color:  #03a9f4;
  }