.brand {
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: opacity 0.3s ease;
}

.brand:hover {
    cursor: pointer;
    opacity: 0.7;
}