.authSwitcher {
    width: 100%; 
    padding: 13px 11px;
    border-radius: 11px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: opacity 0.3s ease;
    background-color: #AFF4C6;
}

.authSwitcher:hover {
    cursor: pointer;
    opacity: 0.7;
}