.passwordWrapper {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 10px auto;
}

.formInputPassword {
    width: 100%; 
    padding: 12px 40px 12px 10px; 
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid black;
}

.eyeIcon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    font-size: 20px;
    color: gray;
    line-height: 0;
    transition: color 0.3s ease;
}

.eyeIcon:hover {
    cursor: pointer;
    color: black;
}