services:
  db:
    image: postgres:16-alpine
    container_name: pg
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:${DB_PORT:-5433}:5432"
    restart: unless-stopped
